<!--
Team TheBored (Alvin Wu, William Yin, Jeffrey Huang)
SoftDev
P3 -- ArRESTed Development, JuSt in Time
2021-04-29
-->

<!DOCTYPE html>
<html>
<head>
    <title>The Board</title>
</head>
<body>
    <h1> Team: The Board (^-^) </h1>
    <a href={{ url_for("index") }}>Home</a>
    {% if logged_in %}
        <a href={{ url_for("logout") }}>Logout</a>
    {% else %}
        <a href={{ url_for("login") }}>Login</a>
        <a href={{ url_for("register") }}>Sign Up</a>
    {% endif %}
    {% if warning %}
        <p class="warning">{{ warning }}</p>
    {% endif %}
    {% block content %}{% endblock content %}
</body>
