<!-- 
Team TheBored (Alvin Wu, William Yin, Jeffrey Huang) 
SoftDev 
P3 -- ArRESTed Development, JuSt in Time
2021-04-23 
-->

<!DOCTYPE html>
<html>
<h1> Welcome to TheBored Review Site! </h1>
<form action = "/search">
Product Search 
<select name = "category">
	<option value="movie">Movie</option>
	<option value="recipe">Recipe</option>
	<option value="book">Book</option>
</select>

<input type = "text" name = "searchquery">
<input type = "submit" name = "search" value = "Search!">
</form>
<br>
<a href = "/myprofile">My Profile</a>
<br></br>
<form action = "/logout">
<input type = "submit" value = "Logout">
</form>
</html>