<!-- 
Team TheBored (Alvin Wu, William Yin, Jeffrey Huang) 
SoftDev 
P3 -- ArRESTed Development, JuSt in Time
2021-04-23 
-->

<!DOCTYPE html>
<html>
<h1> Welcome to TheBored Review Site! </h1>

<h3> Enter your credentials to proceed </h3>

<form action="/authenticate">
Username <input type = "text" name = "username">
<br></br>
Password <input type = "password" name = "password">
<br></br>
<input type = "submit" name = "sub" value = "Login">
</form>
<h3>
Sign Up!
</h3>
<a id="register" href = "/register">Create an Account</a>
</html>