<!--
Team TheBored (Alvin Wu, William Yin, Jeffrey Huang)
SoftDev
P3 -- ArRESTed Development, JuSt in Time
2021-04-29
-->

{% extends "layout.html" %}
{% block content %}
    <form action={{ url_for("index") }} method="get">
        <div>
            Movie Title:
            <input type="text" name="movie_title" placeholder="Search">
        </div>
        <button type="submit" value="Search"> Search </button>
    </form>
    {% if data["Response"] == "True" %}
        <a href={{ url_for("movie", imdb_id=data["imdbID"]) }}><img src={{ data["Poster"] }}></a>
        <h2>{{ data["Title"] }}</h2>
        <h3>Release Date: {{ data["Released"] }}</h3>
        <h3>Age Rating: {{ data["Rated"] }}</h3>
        {% if data["Ratings"] %}
            <h3>Critical Ratings:</h3>
            {% for rating in data["Ratings"] %}
                <p>{{ rating["Source"] }} - {{ rating["Value"] }}</p>
            {% endfor %}
        {% else %}
            <b>Critical Ratings: N/A</b>
        {% endif %}
        <h3>Leave a review</h3>
        <form action={{ url_for("create_review", imdb_id=data["imdbID"]) }} method="post">
            <input type="text" name="title" placeholder="Title of your review"><br>
            <input type="number" id="quantity" name="quantity" min="0" max="10" step="1" value="0"><br>
            <textarea name="body" rows="10" cols="100" placeholder="Text"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <p>Sorry, that movie does not exist.</p>
    {% endif %}
{% endblock content %}
