<!--
Team TheBored (Alvin Wu, William Yin, Jeffrey Huang)
SoftDev
P3 -- ArRESTed Development, JuSt in Time
2021-04-29
-->
<html>
{% extends "layout.html" %}
{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title> Register </title>
  </head>
  <body>
    <form action={{ url_for("register") }} method="post">
      <div class="container">
        <p> <label for="username"> <b>Username: </b> </label> </p>
        <input type="text" placeholder="Enter Username" name="username">

        <p> <label for="password1"> <b>Password:</b> </label> </p>
        <input type="password" placeholder="Enter Password (at least 4 characters)" name="password">

        <p> <label for="password2"> <b>Confirm Password:</b> </label> </p>
        <input type="password" placeholder="Repeat Password" name="confirm password">

        <p> <label for="bio"> <b>Biography:</b> </label> </p>
        <input type="text" placeholder="Short Description of Yourself" name="description">

        <button type="submit" class="signupbtn" value="Register"> Sign Up </button>
      </div>
    </form>
  </body>
{% endblock content %}
</html>
