<!--
Team TheBored (Alvin Wu, William Yin, Jeffrey Huang)
SoftDev
P3 -- ArRESTed Development, JuSt in Time
2021-04-29
-->

{% extends "layout.html" %}
{% block content %}
    <form action={{ url_for("register") }} method="post">
        <p>Username</p>
        <input type="text" name="username">
        <p>Password (must be at least 4 characters)</p>
        <input type="password" name="password">
        <p>Confirm Password</p>
        <input type="password" name="confirm password">
        <p>Short description</p>
        <input type="text" name="biography">
        <input type="submit" value="Register">
    </form>
{% endblock content %}
